<div id="publications" class="publications">
  <h2>Publications</h2>
  <div id="area-tab">
    <span class="area-tab active" data-area="all" onclick="filterPapers('all')">All</span>
    {% for area in page.areas %}
    <span class="area-tab" data-area="{{ area.bibquery }}" onclick="filterPapers('{{ area.bibquery }}')">{{ area.text }}</span>
    {% endfor %}
  </div>
  
  {%- for y in page.years %}
    <h2 class="year" id="publish-year-{{y}}">{{y}}</h2>
    {% bibliography -f papers -q @*[publish_year={{y}}]* %}
  {% endfor %}
  </div>
  
</div>