<!-- _includes/projects.html -->
<div class="grid-item">
  {% if project.redirect -%}
  <a href="{{ project.redirect }}">
  {%- else -%}
  <a href="{{ project.url | relative_url }}">
    {%- endif %}
    <div class="card hoverable">
      {%- if project.img %}
      {%- include figure.html
        path=project.img
        alt="project thumbnail" -%}
      {%- endif %}
      <div class="card-body">
        <h2 class="card-title">{{ project.title }}</h2>
        <p class="card-text">{{ project.description }}</p>
        <div class="row ml-1 mr-1 p-0">
          {%- if project.github -%}
          <a href="{{ project.github }}" class="btn btn-sm z-depth-0" role="button">Github</a>
          {%- endif -%}
          {%- if project.video -%}
          <a href="{{ project.video }}" class="btn btn-sm z-depth-0" role="button">Video</a>
          {%- endif -%}
        </div>
      </div>
    </div>
  </a>
</div>