/*******************************************************************************
 * Variables used throughout the theme.
 * To adjust anything, simply edit the variables below and rebuild the theme.
 ******************************************************************************/


// Colors
$grey-color-lighter:  #dee2e6;
$grey-color-light:    #adb5bd;
$grey-color:          #6c757d !default;
$grey-color-dark:     #495057;
$grey-900:            #212529;

$white-color: #ffffff !default;
$black-color: #000000 !default;


// Theme colors
$navy-color:        #445C74;
$navy-color-light:    saturate($navy-color,40%);
$navy-color-dark:     darken($navy-color,20%);
$brown-color:       #775940;
$brown-color-light:   lighten($brown-color, 50%);
$brown-color-dark:    darken($brown-color, 20%);
$violet-color:      #664F69;
$violet-color-light:  saturate($violet-color, 40%);

$turquoise-color:   #17BEBB;
$peach-color:       #EDB88B;