---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

@font-face {
  font-family: "Lato";
  src: url("../font/Lato-Light.ttf");
}

@font-face {
  font-family: "Lato-Bold";
  src: url("../font/Lato-Regular.ttf");
}

@import
  "variables",
  "themes",
  "layout",
  "base"
;